<!DOCTYPE html>
<html>
<head lang="en">
    <title>Web-service</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="container">
                <div id="identitycard" style="margin-top:50px"
                     class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Select file(s) to upload</div>
                        </div>
                        <div class="panel-body">
                            <p>
                                {% for cat, msg in get_flashed_messages(True) %}
                            <div class="alert alert-{{cat}}">{{msg}}</div>
                            {% endfor %}
                            </p>
                            <div class="row">
                                <p style="padding: 8px;" class="text-center">File to upload png or zip</p>
                            </div>
                            <div class="row" style="padding: 10px 15px 9px;">
                                <form action="" method="post" class="form-contact" enctype=multipart/form-data>
                                    {{ form.hidden_tag() }}
                                    <div class="form-group">
                                        <div class="row" style="margin-bottom: 20px;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                                                <p> {{ form.photo() }}
                                            </div>
                                        </div>
                                        <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
                                            <p>{{ form.submit(class="btn btn-lg btn-block btn-success",
                                                style="border-radius: 50px;background-color:hover: #35832f;") }}
                                        </div>
                                    </div>

                                </form>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Cad</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Class</th>
                                        <th scope="col">probability</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for el in data %}
                                <tr>
                                    <th scope="row"> <img src="{{ url_for('static', filename=el.cad) }}"></th>
                                   <td> <img src="{{ url_for('static', filename=el.image) }}"></td>
                                    <td>{{ el.res }}</td>
                                    <td>{{ el.probability }}</td>
                                </tr>
                                {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>